/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/buildOutputCleanup/cache.properties
/.gradle/checksums/checksums.lock
/.idea/compiler.xml
/.gradle/6.1.1/executionHistory/executionHistory.bin
/.gradle/6.1.1/executionHistory/executionHistory.lock
/.gradle/6.1.1/fileHashes/fileHashes.bin
/.gradle/6.1.1/fileHashes/fileHashes.lock
/.gradle/6.1.1/gc.properties
/.gradle/vcs-1/gc.properties
/.idea/gradle.xml
/gradle/wrapper/gradle-wrapper.jar
/gradle/wrapper/gradle-wrapper.properties
/gradlew
/gradlew.bat
/.idea/jarRepositories.xml
/.gradle/6.1.1/fileChanges/last-build.bin
/local.properties
/.idea/misc.xml
/.idea/modules.xml
/.gradle/buildOutputCleanup/outputFiles.bin
/.idea/vcs.xml
/.idea/workspace.xml
